<p id="notice"><%= notice %></p>

<style>
  .flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #18BC9C;
  }

  .flex-container > div {
  background-color: white;
  width: 400px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  }
  img {max-width:100%;}
</style>

<h1 align="center">Pizzas</h1>


  <div class="flex-container">

    <% @pizzas.each do |pizza| %>

      <div>

        <%= pizza.name %></br>
        Precio: <%= pizza.price %>

        <form>
          <input type="button" value="Agregar" onclick="window.location.href='/orders/new'" />
        </form>

        <% if pizza.name == "Super Pepperoni" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/Super_Pepperoni.jpg">
        <% end %>

        <% if pizza.name == "The Works" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/The_Works.jpg">
        <% end %>

        <% if pizza.name == "Italiana" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/Italiana_New.jpg">
        <% end %>

        <% if pizza.name == "Pollo BBQ" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/Pollo_BBQ.jpg">
        <% end %>

        <% if pizza.name == "Todas Las Carnes" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/Todas_Las_Carnes_New.jpg">
        <% end %>

        <% if pizza.name == "Vegetariana" %>
          <img src="https://d3auwaok61spz6.cloudfront.net/content/OnlineOrderingImages/Menu/Category/Vegetariana_New.jpg">
        <% end %>

      </div>

    <% end %>

  </div>
</table>

<br>

<%= link_to 'New Pizza', new_pizza_path %>
