<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Examen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pizzeria</a>
        </div>
        <ul class="nav navbar-nav">

          <li><a class="button" href="/">Home<span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href="/pizzas">Catálogo</a></li>
          <li><a class="nav-link" href="/">Promociones</a></li>
          <li><a class="nav-link" href="/">Locales</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" href="/orders/new">Your Cart</a></li>
        </ul>
      </div>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
